:root {
  --main-bg-color: teal;
  --main-color: #ffffa2;
  --main-ft-weight: 600;
  text-align: center;
  padding: 10px;
  margin: auto;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-weight: var(--main-ft-weight);
}

.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: var(--main-bg-color);
  font-size: larger;
  font-weight: var(--main-ft-weight);
  line-height: 50px;
}
